@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body{
    font-family: 'Press Start 2P';
    background-color:#010038 ;
    color: white;
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;   
}

.titulo{
    /* color:white; */
    font-size: 32px;
}

.subtitulo{
    /* color: white; */
    font-size: 20px;
}


.tarjetas{
    display: grid;
    grid-template-columns: 310px 310px;
    gap: 10px;
} 

.tarjetas-ataques{
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon{
    width: 300px;
    height: 100px;
    background: #293A80; 
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #537EC5;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: white; */
}
.tarjeta-de-mokepon img{
    width: 80px;
}
.tarjeta-de-mokepon p{
    margin: 0;
}

input{
    display: none;
}
input:checked + label{
    border: 2px solid #293A80;
    background: #537EC5; 
}

button{
    background-color: #293A80;
    width: 300px;
    height: 50px;
    border: 2px solid #537EC5;
    border-radius: 10px;
    color: white;
    font-family: 'Press Start 2P';
}
button:active{
    background-color: #537EC5;
    border: 2px solid #293A80;
}

#seleccionar-ataque{
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque{
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #537EC5;
    border-radius: 20px;
    width: 80px;
}

#mensajes{
    width: 400px;
    background: #F39422;
    border: 2px solid #537EC5;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;    
    align-items: center;
    flex-direction: column;
}

.ataques{
    display: grid;
    grid-template-columns: 250px 250px;    
}

.ataques-jugador, .ataques-enemigo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#ver-mapa{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-mapa{   
        background-color: #293A80;
        width: 100px;
        height: 50px;
        border: 2px solid #537EC5;
        border-radius: 10px;
        color: white;
        font-family: 'Press Start 2P';  
        margin: 5px; 
}

@media (max-width:600px){
    .tarjetas, .tarjetas-ataques{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:600px){
    #ver-mapa div{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
