@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body{
    font-family: 'Press Start 2P';
    background-color:#010038 ;
    color: white;
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.titulo{
    /* color:white; */
    font-size: 32px;
}

.subtitulo{
    /* color: white; */
    font-size: 20px;
}
.tarjetas{
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon{
    width: 250px;
    height: 100px;
    background: #293A80; 
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #537EC5;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: white; */
}
.tarjeta-de-mokepon img{
    width: 80px;
}
.tarjeta-de-mokepon p{
    margin: 0;
}

input{
    display: none;
}

button{
    background-color: #293A80;
    width: 300px;
    height: 50px;
    border: 2px solid #537EC5;
    border-radius: 10px;
    color: white;
    font-family: 'Press Start 2P';
}

#seleccionar-ataque{
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque{
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #537EC5;
    border-radius: 20px;
}

#mensajes{
    width: 400px;
    background: #F39422;
    border: 2px solid #537EC5;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;    
    align-items: center;
    flex-direction: column;
}



